<!DOCTYPE HTML>
<html><head>
<title>Sensors</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="refresh" content="{{refreshtime}}">
<style> .temp{color:#25259a} .hum{color:#3d9e3d} .pres{color:#800080} .volt{color:#008080} </style>
</head>
<body>
<table>
{% for id in sensors %}{% set s = sensors[id] %}
<tr>
  <td><a href="graph/{{id}}">{{s.name}}</a></td>
  <td class="temp">{{s.temperature}} °C</td>
  <td class="hum">{{s.humidity}} %</td>
  <td class="pres">{% if s.pressure %}{{s.pressure}} hPa{% endif %}</td>
  <td class="volt">{{s.v}} V</td>
  <td>{{s.tztime}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
